.filter-heads {
  text-align: center;
  border-bottom: solid 1px #bbb;
  font-weight: 100;
  font-size: 14px;
  margin: 10px 20px 5px;
}
.filter-items {
  display: flex;
  flex-wrap: wrap;

  >div {
    flex: 0 calc(50% - 20px);
    color: #000;
    background-color: #c3e09b;
    border-radius: 4px;
    margin: 5px;
    padding: 3px 5px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
  }
  >div.active {
    background-color: #79ba00;
  }
}
.loader {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  img {
    width: 80px;
    height: 80px;
    align-self: center;
  }
}
.no-record {
  flex: 0 100%;
  font-style: italic;
  font-size: 16px;
}
