<div *ngIf="isLoader" class="loader">
  <img src="../../assets/images/loader.gif" alt="loading...">
</div>

<div class="main">
  <div class="filter-box mb5">
    <div class=" w-contain pb6">
      <b>Filters</b>
      <div class="filter-heads">
        Launch Year
      </div>
      <div class="filter-items mb5">
        <div *ngFor="let year of years" [ngClass]="(filter && filter.launch_year == year.launch_year)? 'active' : ''"
          (click)="launchYear(year.launch_year)">{{year.launch_year}}</div>
      </div>
      <div class="filter-heads">
        Successful Launch
      </div>
      <div class="filter-items mb5">
        <div [ngClass]="(filter && filter.launch_success == true)? 'active' : ''" (click)="launch(true)">True</div>
        <div [ngClass]="(filter && filter.launch_success == false)? 'active' : ''" (click)="launch(false)">False</div>
      </div>
      <div class="filter-heads">
        Successful Landing
      </div>
      <div class="filter-items">
        <div [ngClass]="(filter && filter.land_success == true)? 'active' : ''" (click)="landing(true)">True</div>
        <div [ngClass]="(filter && filter.land_success == false)? 'active' : ''" (click)="landing(false)">False</div>
      </div>
    </div>
  </div>
  <div class="list">
    <div *ngIf="parseData.length == 0" class="w-contain no-record">
      No records found.
    </div>
    <div class="w-contain" *ngFor="let rocket of parseData">
      <app-rocket [rocket]="rocket"></app-rocket>
    </div>
  </div>
</div>
