
.rocket {
  .blue{
    color: #4B599C;
  }
  img {
    width: 100%;
  }
  >div {
    margin: 3px 0;

    label {
      font-weight: 600;
      margin-right: 5px;
    }
    span {
      color: #4B599C;
    }
  }
}
