<div class="rocket">
  <img [src]="'https://via.placeholder.com/300/eee/000/?text=' + rocket.mission_name" alt="">
  <div>
    <label class="blue mb2">{{rocket.mission_name}}#{{rocket.flight_number}}</label>
  </div>
  <div>
    <label>Mission Ids:</label>
    <ul>
      <li *ngFor="let id of rocket.mission_id">{{id}}</li>
    </ul>
  </div>
  <div>
    <label>Launch Year:</label>
    <span>{{rocket.launch_year}}</span>
  </div>
  <div>
    <label>Successful Launch:</label>
    <span>{{rocket.launch_success}}</span>
  </div>
  <div>
    <label>Successful Landing:</label>
    <span>{{rocket.launch_site.site_name}}</span>
  </div>
</div>
