body {
  background-color: #f1f2f3 !important;
  font-family: sans-serif;
  font-size: 14px;
}
.main {
  display: flex;
  margin-right: 16px;
}
.w-contain {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
h3 {
  font-weight: bolder;
  text-align: center;
}

@media only screen and (max-width: 599px) {
  .main {
    flex-wrap: wrap;
  }
  .filter-box {
    width: 100%;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    .w-contain {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 600px) {
  .filter-box {
    width: 20%;
    max-width: 280px;
    min-width: 200px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

    .w-contain {
      width: 100%;
    }
  }
}
@media only screen and (min-width: 700px) {
  .list {
    .w-contain {
      width: 100%;
      flex: 0 calc(50% - 36px);
    }
  }
}
@media only screen and (min-width: 870px) {
  .list {
    .w-contain {
      width: 100%;
      flex: 0 calc(33.33% - 36px);
    }
  }
}
@media only screen and (min-width: 1024px) {
  .list {
    .w-contain {
      width: 100%;
      flex: 0 calc(25% - 36px);
    }
  }
}
@media only screen and (min-width: 1400px) {
  .app {
    max-width: 1400px;
    margin: 0 auto;
  }
}

$sizes: 6;
@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i} {
      margin: $margin;
    }
    .ml#{$i} {
      margin-left: $margin;
    }
    .mr#{$i} {
      margin-right: $margin;
    }
    .mt#{$i} {
      margin-top: $margin;
    }
    .mb#{$i} {
      margin-bottom: $margin;
    }
    .mx#{$i} {
      margin-left: $margin;
      margin-right: $margin;
    }
    .my#{$i} {
      margin-top: $margin;
      margin-bottom: $margin;
    }
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {
      padding: $padding;
    }
    .pl#{$i} {
      padding-left: $padding;
    }
    .pr#{$i} {
      padding-right: $padding;
    }
    .pt#{$i} {
      padding-top: $padding;
    }
    .pb#{$i} {
      padding-bottom: $padding;
    }
    .px#{$i} {
      padding-left: $padding;
      padding-right: $padding;
    }
    .py#{$i} {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}
@include padding-classes;
